<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Informacion del Alumno</div>
  <div class="card-body text-primary">
    <div class="card-text">
      <ul class="list-group">
        <li class="list-group-item">Nombre: Ortiz Maria Emilia</li>
        <li class="list-group-item">Fecha Nacimiento: 30 de Diciembre 1995</li>
        <li class="list-group-item">Carrera: Ingenieria Informatica</li>
        <li class="list-group-item">Comision: 332</li>
        <li class="list-group-item">Turno: Nocturno</li>
      </ul>
    </div>
  </div>
</div>